<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="plantilla/fragmentos.html :: navigation"></div>

        <h3>Hacer nueva reserva</h3>

        <form method="post" th:object="${reserva}" class="needs-validation" novalidate>
        
            <div class="mb-3">
                <input type="hidden" name="usuario" th:field="*{usuario}"> 

                <label for="horario" class="form-label">Horario</label>
                <select class="form-select" 
                        th:field="*{horario.id}" 
                        id="horario" 
                        th:attr="disabled=${borrando} != null ? 'disabled' : null">
                    <option th:each="horario : ${horarios}" 
                            th:value="${horario.id}" 
                            th:text="${horario.horaInicio} + ' - ' + ${horario.horaFin}">
                    </option>
                </select>
                
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" 
                       id="fecha" 
                       name="fecha" 
                       class="form-control" 
                       th:value="${reserva.fecha}"/> <br>
            </div>
        
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        
        

        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>
</html>